<template>
    <div class="container-fluid block-centered-no-align">
        <div class="block-centered-fs" v-show="!loaded || !isDataReady">
            <loading-indicator/>
        </div>

        <b-modal id="modal-ui-configuration" centered title="Настройки отображения" :static="true"
                 @ok="saveUiOptions" @cancel="resetUiOptions"
                 ok-title="Сохранить" cancel-title="Сбросить">
            <div class="col-md">
                <b-form-checkbox v-model="uiConfig.stackingEnabled" style="width: 100%;">
                    Адаптировать таблицу на мобильных устройствах
                </b-form-checkbox>
            </div>
            <hr/>

            <div id="columns-configuration-list" class="list-group" style="max-height: 50vh; overflow: auto;">
                <div class="list-group-item" v-for="column in uiConfig.columns.filter(x => !x.disabled)"
                     :key="column.id" style="display: flex;" :id="`column-configuration-item-${column.id}`">
                    <b-form-checkbox v-model="column.visible" style="width: 100%;">
                        {{ column.description || column.name }}
                    </b-form-checkbox>
                    <i class="fas fa-bars handle"/>
                </div>
            </div>

            <div class="text-center mt-2">
                <b-link @click="$bvModal.show('modal-shortcuts')">
                    Показать справку по горячим клавишам
                </b-link>
            </div>
        </b-modal>

        <b-modal id="modal-request-preview" centered :hide-footer="true" size="xl" lazy
                 @hidden="onRequestPreviewHidden" dialog-class="modal-fill">
            <template #modal-title>
                <div class="d-flex d-row">
                    <h5 class="mb-0" style="place-self: center;">
                        <template v-if="selectedRequest.externalId">
                            Заявка {{ `№${selectedRequest.id}` }} /
                            <span class="text-success">{{ selectedRequest.externalId }}</span> от
                            {{ getPrettyDate(selectedRequest.createdAt) }}
                        </template>
                        <template v-else>
                            Заявка {{ `№${selectedRequest.id}` }} от {{ getPrettyDate(selectedRequest.createdAt) }}
                        </template>
                    </h5>

                    <b-dropdown toggle-class="text-decoration-none" no-caret class="ml-2" size="sm"
                                variant="outline-primary" title="Статус выгрузки в 1С"
                                v-if="permissions.hasAction('can_external_lock')">
                        <template #button-content>
                            <i class="fas fa-ellipsis-v"></i>
                        </template>

                        <b-dropdown-item v-for="state of requestLockStates" :key="state.id" @click="setLockState(state)"
                                         :disabled="!selectedRequest.enabledLockStates.includes(state.value)">
                            {{ state.name }}
                            <i class="fas fa-check text-success ml-1"
                               v-if="state.value === selectedRequest.lockState"></i>
                        </b-dropdown-item>

                        <template v-if="selectedRequest.lockOwner">
                            <b-dropdown-divider/>
                            <b-dropdown-item disabled>Автор: {{ selectedRequest.lockOwner }}</b-dropdown-item>
                        </template>
                    </b-dropdown>
                </div>
            </template>

            <request-form :id="selectedRequest ? selectedRequest.id : undefined" :is-modal="true"
                          @close-request="closeRequestPreview" :target-tab="requestTargetTab"/>
        </b-modal>

        <b-modal id="modal-filters" title="Фильтры" centered size="lg" lazy hide-footer>
            <request-filters @refresh-table="refreshTable" @update-highlighting="onHighlightingChanged"
                             @reset-filters="() => resetFilters()" @clear-multiple-filter="clearMultipleFilter"
                             :any-filter-applied="anyFilterApplied" :permissions="permissions" :user="user"
                             :filters="filters" :date-filters="dateFilters" :flat-filters="flatFilters"
                             :highlighting="uiConfig.highlighting" :brands="brands"
                             :companies="companies" :sale-points="salePoints" :zones="zones"
                             :request-status-types="requestStatusTypes" :job-types="jobTypes"
                             :request-lock-states="requestLockStates"
                             :priority-types="priorityTypes" :client-priority-types="clientPriorityTypes"
                             :cities="cities" :regions="regions"
                             :engineers="engineers" :logisticians="logisticians"
            ></request-filters>
        </b-modal>

        <email-export-modal :user="user" @submit="exportToEmail"
                            :show-trigger="emailExportShowTrigger" :hide-trigger="emailExportHideTrigger"
        />

        <email-export-modal :user="user" @submit="exportActsToEmail"
                            :show-trigger="emailActsExportShowTrigger" :hide-trigger="emailActsExportHideTrigger"
        />

        <b-modal id="modal-shortcuts" title="Горячие клавиши" hide-footer>
            <hot-keys-modal />
        </b-modal>

        <div class="app-content" v-if="loaded" v-show="isDataReady">
            <div id="tv-header" class="overflow-auto" v-if="user.uiConfig['tvMode']">
                <h1 class="float-right">
                    {{ getPrettyDate(currentDateTime) }}
                    <b-link @click="logout">
                        <i class="fas fa-sign-out-alt"></i>
                    </b-link>
                </h1>
            </div>

            <div v-if="!user.uiConfig['tvMode'] && bannerAnnouncements.length > 0" class="my-2">
                <b-alert v-for="announcement of bannerAnnouncements" :key="announcement.id" :show="true"
                         :variant="announcement.category" class="mb-2">
                    📢 {{ announcement.text }}

                    <b-button v-if="announcement.data.button" class="ml-2" size="sm"
                              :variant="announcement.data.button.variant || 'secondary'"
                              @click="handleAnnouncementButtonClick(announcement.data)">
                        {{ announcement.data.button.text }}
                    </b-button>

                    <b-button v-if="announcement.data.link" class="ml-2" size="sm"
                              :variant="announcement.data.link.variant || 'secondary'"
                              target="_blank" :href="announcement.data.link.url">
                        {{ announcement.data.link.text }}
                    </b-button>
                </b-alert>
            </div>

            <div id="table-controls" v-if="!user.uiConfig['tvMode']">
                <div class="row justify-content-center mb-2">
                    <div class="mt-2 mr-2" v-if="!this.$router.history.current.params.salePointId">
                        <b-button variant="success" :to="{name: 'request-new'}" v-if="permissions.canCreate">
                            Создать
                        </b-button>
                    </div>

                    <b-pagination v-model="paginationManager.page" :total-rows="paginationManager.totalCount"
                                  :per-page="paginationManager.perPage" aria-controls="requests-table" 
                                  v-if="paginationManager.totalCount > paginationManager.perPage"
                                  class="mb-0 mr-2 mt-2"
                    />

                    <b-form-group label-for="item-per-page-selector" class="mt-2 mr-2 mb-0">
                        <multiselect id="item-per-page-selector" v-model="paginationManager.perPage"
                                     :options="[15, 25, 50, 100, 200]"
                                     :allow-empty="false"
                                     select-label="" deselect-label="" selected-label=""
                                     placeholder="На странице" @input="saveUiOptions">
                        </multiselect>
                    </b-form-group>

                    <div class="mt-2 mr-2" v-if="!this.$router.history.current.params.salePointId">
                        <b-button title="Фильтры" @click="$bvModal.show('modal-filters')"
                                  variant="outline-secondary">
                            <i class="fas fa-filter"/>
                        </b-button>
                    </div>

                    <div class="mt-2 mr-2" v-if="!this.$router.history.current.params.salePointId">
                        <b-button title="Только активные заявки" @click="toggleActiveOnly"
                                  :variant="flatFilters.activeOnly ? 'success' : 'outline-success'">
                            <i class="fas fa-tools"></i>
                        </b-button>
                    </div>

                    <div class="mt-2 mr-2" v-if="!this.$router.history.current.params.salePointId">
                        <b-dropdown title="Экспортировать в файл" variant="outline-primary" right>
                            <template #button-content>
                                <i class="fas fa-download"></i>
                            </template>

                            <b-dropdown-item @click="emailExportShowTrigger = !emailExportShowTrigger">
                                Заявки
                            </b-dropdown-item>

                            <b-dropdown-item @click="emailActsExportShowTrigger = !emailActsExportShowTrigger">
                                Приложения к актам
                            </b-dropdown-item>
                        </b-dropdown>
                    </div>

                    <div class="mt-2 mr-2" v-if="anyFilterApplied && !this.$router.history.current.params.salePointId">
                        <b-button @click="resetFilters" title="Сбросить фильтры" variant="danger"
                                  class="text-blink">
                            <i class="fas fa-eraser"/>
                        </b-button>
                    </div>

                    <div class="mt-2 mr-2">
                        <b-form-input id="search-input" type="search" v-model="flatFilters.searchQuery" debounce="500"
                                      :placeholder="`Поиск... (${paginationManager.totalCount})`"
                                      @update="refreshTable"/>

                        <span class="small text-danger font-weight-bold" v-if="flatFilters.searchById">
                            Выполняется поиск по ID
                        </span>

                        <span class="small text-danger font-weight-bold" v-if="flatFilters.searchQuery === '#'">
                            Будет выполнен поиск по ID
                        </span>
                    </div>

                    <div class="mt-2">
                        <b-button @click="showUiOptions" title="Настройки отображения" variant="outline-secondary"
                                  id="settings-btn">
                            <i class="fas fa-cog"></i>
                        </b-button>
                    </div>
                </div>
            </div>

            <div v-show="!anyColumnIsVisible" class="block-centered" style="margin-top: 10vh;">
                <div>
                    <h1><i class="fas fa-columns page-icon text-primary"></i></h1>
                    <h1>Вы скрыли все столбцы</h1>

                    <b-button @click="resetUiOptions" size="lg" block>
                        Сбросить настройки интерфейса
                    </b-button>
                </div>
            </div>

            <b-alert :show="externalFiltersApplied" variant="warning" class="my-2">
                <i class="fas fa-filter"></i>
                Фильтры были применены автоматически
            </b-alert>

            <div v-show="anyColumnIsVisible && paginationManager.totalCount === 0" class="block-centered"
                 style="margin-top: 10vh;">
                <div>
                    <h1><i class="fas fa-tools page-icon text-primary"/></h1>
                    <h1>Здесь пока ничего нет</h1>

                    <b-button :to="{name: 'request-new'}" size="lg" variant="success" class="mt-3" block
                              v-if="permissions.canCreate">
                        Создать заявку
                    </b-button>
                    <b-button @click="resetFilters" v-if="anyFilterApplied || flatFilters.searchQuery" size="lg" block>
                        Сбросить фильтры и поиск
                    </b-button>
                </div>
            </div>

            <b-table v-show="anyColumnIsVisible && paginationManager.totalCount > 0" :responsive="true" hover
                     :fields="tableFields" :tbody-tr-class="getRowClass"
                     :items="getRequests" ref="table" id="requests-table" :small="true"
                     :per-page="paginationManager.perPage" :current-page="paginationManager.page"
                     :sort-by.sync="paginationManager.sortBy" :sort-desc.sync="paginationManager.sortDesc"
                     :sticky-header="`${tableStickyHeight}px`" :stacked="isMobileBrowser && uiConfig.stackingEnabled">

                <template v-slot:cell(id)="data">
                    <div style="white-space: nowrap;">
                        <div class="d-flex flex-row align-items-center justify-content-center">
                            <b-link v-if="isMobileBrowser" :to="{name: 'request', params: {id: data.item.id}}">
                                {{ data.item.id }}
                            </b-link>
                            <b-link v-else @click="showRequestPreview(data.item)">{{ data.item.id }}</b-link>

                            <b-link :to="{name: 'request', params: {id: data.item.id}}" class="ml-1"
                                    title="Открыть в новой вкладке" target="_blank">
                                <i class="fas fa-external-link-alt"/>
                            </b-link>

                            <b-link :href="getAdministrativePanelLink(data.item)" class="ml-1 text-danger"
                                    title="Открыть в панели администратора" target="_blank" v-if="user.base.isSuperuser"
                                    >
                                <i class="fas fa-external-link-alt"/>
                            </b-link>
                        </div>

                        <div class="d-flex flex-row align-items-center justify-content-center">
                            <i class="fas fa-file-alt text-danger ml-1"
                               v-if="data.item.hasPendingActs"
                               title="Есть акты, ожидающие оформления"></i>

                            <i class="fas fa-file-alt text-secondary ml-1 inactive"
                               v-else title="Нет актов, ожидающих оформления"></i>

                            <i class="fas fa-redo text-danger ml-1" v-if="data.item.isRepeated"
                               title="По этому оборудованию уже были заявки за прошедший месяц">
                            </i>

                            <i class="fas fa-redo text-secondary ml-1 inactive" v-else
                               title="По этому оборудованию не было заявок за прошедший месяц">
                            </i>

                            <template v-if="data.item.lastExternalExchangeAt">
                                <i class="fas fa-cloud-upload-alt text-success ml-1"
                                   v-if="data.item.isClosedOnExternalService"
                                   title="Успешно принята внешней системой">
                                </i>
                                <i class="fas fa-cloud-upload-alt text-warning ml-1" v-else
                                   title="Ожидает обработки внешней системой">
                                </i>
                            </template>

                            <i class="fas fa-cloud-upload-alt text-secondary ml-1 inactive" v-else
                               title="Не было отправлено во внешнюю систему">
                            </i>

                            <b-badge v-if="user.unreadRequests.some(x => x.id === data.item.id)" class="ml-1 text-blink"
                                     title="Есть новые комментарии к заявке" variant="primary"
                                     @click="openRequestTab(data.item, 'comments')"
                                     style="cursor: pointer;">
                                {{ data.item.commentsCount }}
                            </b-badge>
                            <b-badge v-else-if="data.item.commentsCount > 0" class="ml-1" title="Комментарии к заявке"
                                     @click="openRequestTab(data.item, 'comments')"
                                     style="cursor: pointer;">
                                {{ data.item.commentsCount }}
                            </b-badge>
                            <b-badge v-else class="ml-1 inactive" title="Комментарии к заявке"
                                     @click="openRequestTab(data.item, 'comments')"
                                     style="cursor: pointer;">
                                {{ data.item.commentsCount }}
                            </b-badge>

                            <template v-if="permissions.hasAction('can_external_lock')">
                                <i class="fas fa-unlock text-primary ml-1" v-if="data.item.lockState === 'new'"
                                   :title="getLockIconDescription(data.item)">
                                </i>
                                <i class="fas fa-lock text-danger ml-1" v-if="data.item.lockState === 'processing'"
                                   :title="getLockIconDescription(data.item)">
                                </i>
                                <i class="fas fa-lock text-success ml-1" v-if="data.item.lockState === 'finalized'"
                                   :title="getLockIconDescription(data.item)">
                                </i>
                            </template>
                        </div>
                    </div>
                </template>

                <template v-slot:cell(externalId)="data">
                    {{ data.item.externalId }}
                </template>

                <template v-slot:cell(name)="data">
                    <div
                        :style="`min-width: 200px; max-width: 25vw; ${user.uiConfig['incognitoMode'] ? 'filter: blur(6px);' : ''}`">
                        <template v-if="isMobileBrowser">
                            <router-link
                                :to="{name: 'request', params: {id: data.item.id}}"
                                :style="{'text-decoration': data.item.status.value === 'canceled_by_client' ? 'line-through' : 'none'}"
                                >
                                    {{ data.item.title }}
                            </router-link>
                        </template>
                        <template v-else>
                            <b-link
                                @click="showRequestPreview(data.item)"
                                :style="{'text-decoration': data.item.status.value === 'canceled_by_client' ? 'line-through' : 'none'}"
                            >
                                {{ data.item.title }}
                            </b-link>
                        </template>
                    </div>
                </template>

                <template v-slot:cell(company)="data">
                    <router-link :to="{name: 'company', params: {id: data.item.company.id}}"
                                 v-if="data.item.company"
                                 :style="user.uiConfig['incognitoMode'] ? 'filter: blur(6px);' : ''">
                        {{ data.item.company.name }}
                    </router-link>
                </template>

                <template v-slot:cell(salePoint)="data">
                    <router-link :to="{name: 'sale-point', params: {id: data.item.salePoint.id}}"
                                 v-if="data.item.salePoint"
                                 :style="user.uiConfig['incognitoMode'] ? 'filter: blur(6px);' : ''">
                        {{ data.item.salePoint.name }}
                    </router-link>
                </template>

                <template v-slot:cell(status)="data">
                    <span :class="getRequestStatusClass(data.item)">
                        {{ data.item.status.name }}
                    </span>
                </template>

                <template v-slot:cell(jobType)="data">
                    {{ data.item.job.name }}
                </template>

                <template v-slot:cell(priority)="data">
                    {{ data.item.priority.name }}
                </template>

                <template v-slot:cell(clientPriority)="data">
                    {{ data.item.clientPriority.name }}
                </template>

                <template v-slot:cell(logistician)="data">
                    <span :class="{'text-danger': !data.item.logistician}">
                        {{ data.item.logistician ? data.item.logistician.visibleName : 'не задан' }}
                    </span>
                </template>

                <template v-slot:cell(engineers)="data">
                    <span :class="{'text-danger': data.item.engineers.length === 0}">
                        {{ getEngineersList(data.item) }}
                    </span>
                </template>

                <template v-slot:cell(contact)="data">
                    <span :style="user.uiConfig['incognitoMode'] ? 'filter: blur(6px);' : ''">
                        {{ data.item.contactName }} / {{ data.item.contactPhone }}
                    </span>
                </template>

                <template v-slot:cell(address)="data">
                    <div style="max-width: 25vw;">
                        {{
                            data.item.salePoint && data.item.salePoint.address
                                ? data.item.salePoint.address
                                : 'нет данных'
                        }}
                    </div>
                </template>

                <template v-slot:cell(city)="data">
                    {{
                        data.item.salePoint && data.item.salePoint.city
                            ? data.item.salePoint.city.name
                            : 'нет данных'
                    }}
                </template>

                <template v-slot:cell(region)="data">
                    {{
                        data.item.salePoint && data.item.salePoint.city && data.item.salePoint.city.region
                            ? data.item.salePoint.city.region.name
                            : 'нет данных'
                    }}
                </template>

                <template v-slot:cell(zone)="data">
                    <span :class="isZoneMismatching(data.item) ? 'text-danger' : ''"
                          :title="isZoneMismatching(data.item) ? 'Обслуживающая организация заявки не соответствует зоне объекта' : ''">
                        {{ data.item.zone ? data.item.zone.name : 'не задана' }}
                    </span>
                </template>

                <template v-slot:cell(dateCreated)="data">
                    <span style="white-space: pre-line;">{{ getPrettyDate(data.item.createdAt) }}</span>
                </template>

                <template v-slot:cell(datePlannedStart)="data">
                    <span style="white-space: pre-line;">{{ getPrettyDate(data.item.plannedStartAt) }}</span>
                </template>

                <template v-slot:cell(dateActualStart)="data">
                    <span style="white-space: pre-line;">{{ getPrettyDate(data.item.startedAt) }}</span>
                </template>

                <template v-slot:cell(dateActualFinish)="data">
                    <span style="white-space: pre-line;">{{ getPrettyDate(data.item.finishedAt) }}</span>
                </template>

                <template v-slot:cell(workDuration)="data">
                    {{ durationToString(data.item.workDuration) }}
                </template>

                <template v-slot:cell(reactionTime)="data">
                    {{ durationToString(data.item.reactionTime) }}
                </template>

                <template v-slot:cell(overdueTime)="data">
                    <template v-if="data.item.isExpired">
                        <span v-if="data.item.overdueTime.asSeconds() === 0" class="text-danger">
                            {{ durationToString(data.item.ongoingOverdue) }}
                        </span>
                        <span v-else class="text-danger">
                            {{ durationToString(data.item.overdueTime) }}
                        </span>
                    </template>
                    <template v-else>
                        —
                    </template>
                </template>
            </b-table>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import LoadingIndicator from '@/components/LoadingIndicator';
    import {CURRENT_USER, DO_LOGOUT} from '@/stores/auth/types';
    import Sortable from 'sortablejs';
    import moment from 'moment';
    import Multiselect from 'vue-multiselect';
    import Vue from 'vue';
    import PaginationParams from '@/models/util/PaginationParams';
    import PaginationManager from '@/models/util/PaginationManager';
    import ModelPermission from '@/models/api/permissions/ModelPermission';
    import RequestForm from '@/views/requests/RequestForm';
    import {getFirstError, getPrettyDate, getReadableDuration, isMobileBrowser, listToTree, getMultipleFilterChoice} from '@/utils';
    import RequestFilters from '@/components/RequestFilters';
    import EmailExportModal from '@/components/EmailExportModal';
    import HotKeysModal from '@/components/HotKeysModal';

    export default {
        name: 'RequestsList',
        components: {LoadingIndicator, Multiselect, RequestForm, RequestFilters, EmailExportModal, HotKeysModal},
        data: function () {
            return {
                permissions: new ModelPermission({}),

                modalAnnouncements: [],
                bannerAnnouncements: [],

                companies: [],
                salePoints: [],
                engineers: [],
                logisticians: [],

                requestStatusTypes: [],
                requestLockStates: [],
                jobTypes: [],
                priorityTypes: [],
                clientPriorityTypes: [],
                regions: [],
                cities: [],
                zones: [],
                flatZones: [],
                brands: [],

                // Periods are in seconds
                listRefreshPeriod: 30,
                listRefreshTimerRef: undefined,
                currentDateTime: moment(),

                isRequestPreviewShown: false,
                requestTargetTab: undefined,

                loaded: false,
                isDataReady: false,
                waitingUserInput: false,
                selectedRequest: undefined,
                externalFiltersApplied: false,
                tableStickyHeight: 0,

                emailExportShowTrigger: false,
                emailExportHideTrigger: false,

                emailActsExportShowTrigger: false,
                emailActsExportHideTrigger: false,
                salePointFromMap: localStorage.getItem('salePoint'),
                selectedUserFromMap: localStorage.getItem('user'),

                paginationManager: new PaginationManager(),

                uiConfig: {
                    version: '2.6',
                    pagination: {
                        itemsPerPage: 15,
                        currentPage: 1,
                        sortBy: 'id',
                        sortDesc: true
                    },
                    stackingEnabled: false,
                    filters: {},
                    dateFilters: {},
                    flatFilters: {},
                    highlighting: {
                        workTookTooLong: false,
                        expired: false,
                        repeatedVisits: false
                    },
                    columns: [
                        {id: 'id', name: 'ID', visible: true},
                        {id: 'externalId', name: 'E-ID', visible: false},
                        {id: 'name', name: 'Название', visible: true},

                        {id: 'company', name: 'Компания', visible: false},
                        {id: 'salePoint', name: 'Объект', visible: false},

                        {id: 'status', name: 'Статус', visible: true},
                        {id: 'jobType', name: 'Тип работы', visible: true},
                        {id: 'priority', name: 'Приоритет', visible: false},
                        {id: 'clientPriority', name: 'Срочность', visible: false},

                        {id: 'engineers', name: 'Инженеры', visible: true, sortable: false},
                        {id: 'contact', name: 'Контактное лицо', visible: false, sortable: false},
                        {id: 'logistician', name: 'Логист', visible: false, sortable: false},

                        {id: 'address', name: 'Адрес', visible: false},
                        {id: 'city', name: 'Город', visible: false},
                        {id: 'region', name: 'Регион', visible: false},
                        {id: 'zone', name: 'Обслуживающая организация', visible: false},

                        {id: 'dateCreated', name: 'Создана', description: 'Дата создания', visible: true},
                        {
                            id: 'datePlannedStart',
                            name: 'Крайний срок',
                            description: 'Крайний срок начала работ',
                            visible: true
                        },
                        {
                            id: 'dateActualStart',
                            name: 'Начало работ',
                            description: 'Дата начала работ',
                            visible: true
                        },
                        {id: 'dateActualFinish', name: 'Окончание', description: 'Дата окончания работ', visible: true},

                        {id: 'workDuration', name: 'Время работ', visible: true},
                        {id: 'reactionTime', name: 'Время реакции', visible: false},
                        {id: 'overdueTime', name: 'Время просрочки', visible: false}
                    ]
                },

                filters: {
                    company: [],
                    salePoint: [],
                    status: [],
                    jobType: [],
                    priority: [],
                    clientPriority: [],
                    engineer: [],
                    city: [],
                    region: [],
                    logistician: [],
                    device: [],
                    lockState: [],
                    brand: [],
                    mapFilters: []
                },

                flatFilters: {
                    searchQuery: '',
                    searchById: false,

                    zone: null,

                    activeOnly: false,
                    workTookTooLongOnly: false,
                    expiredOnly: false,
                    repeatedVisitsOnly: false,
                    withActsOnly: false,
                    withoutActsOnly: false,
                    externalServiceUnsentOnly: false,
                    externalServiceClosedOnly: false,
                    externalServicePendingOnly: false,
                    withCommentsOnly: false,
                    excludeNestedZones: false
                },

                dateFilters: {
                    createdAt: {
                        enabled: false,
                        initialized: false,
                        startDate: undefined,
                        endDate: undefined
                    },
                    plannedStartAt: {
                        enabled: false,
                        initialized: false,
                        startDate: undefined,
                        endDate: undefined
                    },
                    startedAt: {
                        enabled: false,
                        initialized: false,
                        startDate: undefined,
                        endDate: undefined
                    },
                    finishedAt: {
                        enabled: false,
                        initialized: false,
                        startDate: undefined,
                        endDate: undefined
                    }
                }
            }
        },
        watch: {
            paginationManager: {
                deep: true,
                sync: true,
                async handler() {
                    await this.onPaginationManagerChanged();
                }
            },
            filters: {
                deep: true,
                sync: true,
                async handler() {
                    if(!this.salePointFromMap)
                    await this.onFiltersChanged();
                }
            },
            dateFilters: {
                deep: true,
                sync: true,
                async handler() {
                    await this.onDateFiltersChanged();
                }
            },
            flatFilters: {
                deep: true,
                sync: true,
                async handler() {
                    await this.onFlatFiltersChanged();
                }
            }
        },
        async mounted() {
            window.addEventListener('resize', this.onWindowResize);
            window.addEventListener('keydown', this.onKeyDown);
            await this.loadUiConfig();
            await this.loadTypes();
            await this.loadEntities();
            await this.loadAnnouncements();
            const restrictedColumns = ['zone', 'overdueTime'];
            for (const column of restrictedColumns) {
                const columnInstance = this.uiConfig.columns.find(x => x.id === column);
                if (!columnInstance) {
                    await this.resetUiOptions();
                    return;
                }

                columnInstance.disabled = !this.permissions.canViewField(column);
            }

            if (!this.paginationManager.sortBy) {
                this.paginationManager.sortBy = 'id';
                this.paginationManager.sortDesc = true;
                this.paginationManager.page = 1;

                await this.onPaginationManagerChanged(true);
            }

            await Vue.nextTick();
            this.initColumnConfigurationModal();

            this.applyExternalFilters();
            this.applyExternalDateFilters();

            if (this.externalFiltersApplied) {
                await this.overwriteSavedFilters();
            } else {
                await this.restoreSavedFilters();
            }

            this.loaded = true;

            if (this.user.uiConfig['tvMode']) {
                window.setInterval(() => {
                    this.currentDateTime = moment();
                }, 1000);
            } else {
                await this.showModalAnnouncements();
            }

            this.listRefreshTimerRef = window.setInterval(() => {
                if (this.waitingUserInput || this.isRequestPreviewShown) {
                    return;
                }

                this.refreshTable();
            }, this.listRefreshPeriod * 1000);
            if(this.salePointFromMap || this.selectedUserFromMap) {
                const statuses = this.requestStatusTypes;

                for(let key of Object.keys(this.filters)) {
                    this.clearMultipleFilter(key);
                }

                if (this.salePointFromMap) {
                    this.filters.salePoint = JSON.parse(this.salePointFromMap);
                    localStorage.removeItem('salePoint');
                }

                if (this.selectedUserFromMap) {
                    const localeStorageEngineer = JSON.parse(this.selectedUserFromMap);
                    this.filters.engineer = [this.engineers.find(engineer => localeStorageEngineer.id === engineer.id)];
                    localStorage.removeItem('user');
                }

                this.filters.status = [statuses[0], statuses[1], statuses[3], statuses[5], statuses[6], statuses[10]];  
                this.externalFiltersApplied = true;
                this.refreshTable();
            }
        },
        destroyed() {
            window.removeEventListener('resize', this.onWindowResize);
            window.removeEventListener('keydown', this.onKeyDown);

            window.clearInterval(this.listRefreshTimerRef);
        },
        methods: {
            async loadUiConfig() {
                const user = await this.$api.users.getCurrent();
                const currentConfig = await user.uiConfig;
                if(currentConfig.requests && currentConfig.requests.filters && Array.isArray(currentConfig.requests.filters.engineer)) {
                    currentConfig.requests.filters.engineer.forEach((engineer) => {
                        if(engineer && engineer.base && engineer.base.firstName && engineer.base.lastName) {
                            engineer.visibleName = `${engineer.base.firstName} ${engineer.base.lastName}`
                            return
                        } 
                        engineer.visibleName = '???';
                    })
                }
                if (!currentConfig['requests'] || currentConfig['requests'].version !== '2.6') {
                    currentConfig['requests'] = this.uiConfig;
                    this.user.uiConfig = currentConfig;
                    await this.$api.users.update(this.user.id, {
                        ui_config: this.user.uiConfig
                    });
                } else {
                    this.uiConfig = currentConfig['requests'];
                }

                this.paginationManager.perPage = this.uiConfig.pagination.itemsPerPage;
                this.paginationManager.page = this.uiConfig.pagination.currentPage;
                this.paginationManager.sortBy = this.uiConfig.pagination.sortBy;
                this.paginationManager.sortDesc = this.uiConfig.pagination.sortDesc;
            },
            async loadTypes() {
                const [permissions, requestStatusTypes, jobTypes, priorityTypes, clientPriorityTypes, regions, cities, zones, requestLockStates, brands] = await axios.all([
                    this.$api.requests.getPermissions(),
                    this.$api.types.getRequestStatusTypes(),
                    this.$api.types.getJobTypes(),
                    this.$api.types.getPriorityTypes(),
                    this.$api.types.getClientPriorityTypes(),
                    this.$api.misc.getRegions(),
                    this.$api.misc.getCities(),
                    this.$api.types.getZoneTypes(),
                    this.$api.types.getRequestLockStates(),
                    this.$api.brands.getList()
                ]);

                this.permissions = permissions;

                for (let city of cities) {
                    // noinspection JSValidateTypes
                    city.region = regions.find(x => x.id === city.region);
                }
                this.requestStatusTypes = requestStatusTypes;
                this.requestLockStates = requestLockStates;
                this.jobTypes = jobTypes;
                this.priorityTypes = priorityTypes;
                this.clientPriorityTypes = clientPriorityTypes;

                this.regions = regions;
                this.cities = cities;

                this.allZones = zones;
                this.zones = listToTree(zones);
                this.brands = brands;
            },
            async loadEntities() {
                const [companies, salePoints, engineers, logisticians] = await axios.all([
                    this.$api.companies.getList(),
                    this.$api.salePoints.getList(),
                    this.$api.users.getEngineerList(),
                    this.$api.users.getLogisticianList()
                ]);

                this.companies = companies;
                this.salePoints = salePoints;
                this.engineers = engineers;
                this.logisticians = logisticians;

                for (const salePoint of this.salePoints) {
                    salePoint.city = this.cities.find(x => x.id === salePoint.city);
                }
            },
            async loadAnnouncements() {
                [this.modalAnnouncements, this.bannerAnnouncements] = await axios.all([
                    this.$api.announcements.getList({'display_type': 'modal'}),
                    this.$api.announcements.getList({'display_type': 'banner'})
                ]);
            },
            async loadCurrentPageRequests(recursiveCall = false) {
                if (this.flatFilters.searchQuery === '~incognito') {
                    await this.toggleIncognitoMode();
                    return;
                }

                let page = {};

                const salePointId = this.$router.history.current.params.salePointId;
                const paginationParams = new PaginationParams(
                    this.paginationManager.offset,
                    this.paginationManager.perPage,
                    this.getEffectiveSortBy(),
                    this.paginationManager.sortDesc,
                    salePointId ? {} : await this.getQueryWithFilters()
                );


                if (salePointId){
                    page = await this.$api.requests.getSalePointActiveBids(salePointId, paginationParams);
                } else {
                    page = await this.$api.requests.getListPaginated(paginationParams);
                };

                for (const request of page.objects) {
                    request.status = this.requestStatusTypes.find(x => x.id === request.status);
                    request.job = this.jobTypes.find(x => x.id === request.job);
                    request.priority = this.priorityTypes.find(x => x.id === request.priority);
                    request.clientPriority = this.clientPriorityTypes.find(x => x.id === request.clientPriority);
                    request.company = this.companies.find(x => x.id === request.company);
                    request.zone = this.allZones.find(x => x.id === request.zone) || null;
                    request.salePoint = this.salePoints.find(x => x.id === request.salePoint);
                    request.engineers = request.engineers.map(x => this.engineers.find(e => x === e.id));
                    request.logistician = this.logisticians.find(x => x.id === request.logistician);
                };

                this.paginationManager.totalCount = page.totalCount;
                this.paginationManager.pageItems = page.objects;

                /*
                Проверка на рекурсивный вызов нужна просто на всякий случай, чтобы не уйти в вечный запрос заявок
                 */
                if (!recursiveCall && (this.paginationManager.offset > this.paginationManager.totalCount)) {
                    this.paginationManager.page = 1;
                    return this.loadCurrentPageRequests(true);
                }

                const isFirstLoad = !this.isDataReady;
                this.isDataReady = true;

                if (isFirstLoad) {
                    await Vue.nextTick();
                    this.onWindowResize();
                }

                return page.objects;
            },
            initColumnConfigurationModal() {
                // Это сделано для устранения ошибки с быстрой сменой страницы
                const el = document.getElementById('columns-configuration-list');
                if (!el) {
                    return;
                }

                Sortable.create(el, {
                    handle: '.handle',
                    onEnd: () => {
                        const elementsList = document.getElementById('columns-configuration-list');
                        const columns = [];

                        for (let i = 0; i < elementsList.children.length; i++) {
                            const elementId = elementsList.children[i].id;
                            const columnId = elementId.replace('column-configuration-item-', '');
                            columns.push(this.uiConfig.columns.find(x => x.id === columnId));
                        }

                        this.uiConfig.columns = columns;
                    }
                });
            },
            getRequestStatusColor(status) {
                switch (status.value) {
                    case 'new':
                    case 'processing':
                    case 'engineer_on_his_way':
                        return 'primary';

                    case 'canceled_by_client':
                    case 'partially_completed_extra_work':
                    case 'partially_completed_spare_parts':
                    case 'partially_completed_manager':
                        return 'danger';

                    case 'completed':
                        return 'success';

                    default:
                        return 'body';
                }
            },
            isRequestStatusBlinking(status) {
                return ['new', 'waiting_engineer'].includes(status.value);
            },
            saveUiOptions() {
                this.user.uiConfig['requests']['stackingEnabled'] = this.uiConfig.stackingEnabled;
                this.user.uiConfig['requests']['columns'] = this.uiConfig.columns;
                this.user.uiConfig.requests.filters = this.filters;
                this.$api.users.update(this.user.id, {
                    ui_config: this.user.uiConfig
                });
            },
            async showUiOptions() {
                this.$bvModal.show('modal-ui-configuration');
            },
            async resetUiOptions() {
                delete this.user.uiConfig['requests'];
                await this.$api.users.update(this.user.id, {
                    ui_config: this.user.uiConfig
                });
                document.location.reload();
            },
            getPrettyDate(date) {
                return getPrettyDate(date).replace(' / ', '\n');
            },
            getEngineersList(request) {
                if (request.engineers.length === 0)
                    return 'не заданы';
                return request.engineers.reduce((res, engineer) => {
                  const visibleName = (engineer && engineer.visibleName) ? engineer.visibleName : '???';
                  return res ? `${res}, ${visibleName}` : visibleName;
                }, '');
            },
            getRequests(ctx, callback) {
                if (!this.paginationManager.sortBy) {
                    return this.paginationManager.pageItems;
                }

                this.loadCurrentPageRequests().then((items) => {
                    callback(items);
                }).catch(e => Vue.config.errorHandler(e, this, ''));
                return null;
            },
            async resetFilters() {
                if (event && event.shiftKey) {
                    this.filters = {};
                    this.dateFilters = {};
                    this.flatFilters = {};

                    document.location.reload();
                    return;
                }

                for (const key of Object.keys(await this.filters)) {
                    this.filters[key] = [];
                }

                for (const key of Object.keys(this.flatFilters)) {
                    if (!this.flatFilters[key]) {
                        continue;
                    }

                    switch ((typeof this.flatFilters[key])) {
                        case 'boolean': {
                            this.flatFilters[key] = false;
                            break;
                        }

                        case 'string': {
                            this.flatFilters[key] = '';
                            break;
                        }

                        default: {
                            this.flatFilters[key] = null;
                            break;
                        }
                    }
                }

                for (let key of Object.keys(this.dateFilters)) {
                    if (!this.dateFilters[key].enabled) {
                        continue;
                    }

                    this.dateFilters[key].enabled = false;
                }
                this.user.uiConfig.requests.filters = this.filters;
                await this.$api.users.update(this.user.id, {
                    ui_config: this.user.uiConfig
                });

                this.externalFiltersApplied = false;
                this.refreshTable();
            },
            async toggleActiveOnly() {
                this.flatFilters.activeOnly = !this.flatFilters.activeOnly;
                await this.refreshTable();
            },
            async onHighlightingChanged() {
                this.user.uiConfig.requests.highlighting = this.uiConfig.highlighting;
                await this.$api.users.update(this.user.id, {
                    ui_config: this.user.uiConfig
                });
            },
            async refreshTable() {
                if (this.$refs && this.$refs.table && this.$refs.table.refresh) this.$refs.table.refresh();
            },
            getDateFilterValue(name) {
                if (!this.dateFilters[name].enabled) {
                    return null;
                }

                const startDate = this.dateFilters[name]['startDate'];
                const endDate = this.dateFilters[name]['endDate'];

                return `${startDate.toISOString()},${endDate.toISOString()}`;
            },
            isZoneMismatching(request) {
                if (request.salePoint === undefined) {
                    this.$router.push({name: 'app-error', params: {error: `BID <${request.id}>; SALE-POINT <${request.salePoint}>`}});
                    return false;
                }
                if (request.salePoint.zone === undefined || request.zone === undefined) {
                    this.$router.push({name: 'app-error', params: {error: `BID <${request.id}>; SALE-POINT-ZONE <${request.salePoint.zone}>`}});
                    return false;
                }

                if (request.zone === null) {
                    this.$router.push({name: 'app-error', params: {error: `BID <${request.id}>; ZONE <${request.zone}>`}});
                    return request.salePoint.zone !== null;
                }

                return request.salePoint.zone !== request.zone.id;
            },
            showRequestPreview(request) {
                this.isRequestPreviewShown = true;
                this.selectedRequest = request;
                this.$bvModal.show('modal-request-preview');
            },
            closeRequestPreview() {
                this.$bvModal.hide('modal-request-preview');
                this.refreshTable();
            },
            async showModalAnnouncements() {
                if (this.modalAnnouncements.length === 0) {
                    return
                }

                for (const announcement of this.modalAnnouncements) {
                    await this.$bvModal.msgBoxOk(announcement.text, {
                        title: 'Системное уведомление',
                        centered: true
                    });
                }

                this.user.lastShownAnnouncement = Math.max.apply(null, this.modalAnnouncements.map(x => x.id));
                await this.$api.users.update(this.user.id, this.user.asJson());
            },
            onRequestPreviewHidden() {
                this.requestTargetTab = undefined;
                this.isRequestPreviewShown = false;
                this.refreshTable();
            },
            openRequestTab(request, targetTab) {
                if (this.isMobileBrowser) {
                    this.$router.push({name: 'request', params: {id: request.id, targetTab: targetTab}})
                } else {
                    this.requestTargetTab = targetTab
                    this.showRequestPreview(request)
                }
            },
            async logout() {
                await this.$store.dispatch(DO_LOGOUT);
                await this.$router.push({name: 'login'});
            },
            getRequestStatusClass(request) {
                let result = `text-${this.getRequestStatusColor(request.status)}`;

                if (this.isRequestStatusBlinking(request.status)) {
                    result += ' text-blink';
                }

                return result;
            },
            applyExternalFilters() {
              const { routeFilters } = this.$route.params;
              if (routeFilters) {
                  ['salePoint', 'status'].forEach((key) => {
                    if (this.filters[key] && routeFilters[key]) {
                        if(key === 'status') {
                            const activeStatuses = [1,2,4,6,8,7,11];
                            this.filters[key] = this.requestStatusTypes.filter((status) => activeStatuses.includes(status.id));
                        } else {
                            this.filters[key] = routeFilters[key];
                        }
                    }
                  });
                  this.externalFiltersApplied = true;
                }

                if (!this.$route.params['filters']) {
                    return;
                }
                const valuesMapping = {
                    status: this.requestStatusTypes,
                    priority: this.priorityTypes,
                    company: this.companies,
                    salePoint: this.salePoints,
                    jobType: this.jobTypes,
                    region: this.regions,
                    device: null,
                    engineer: this.engineers
                };

                for (let key of Object.keys(this.$route.params['filters'])) {
                    if (!this.filters[key]) {
                        continue;
                    }

                    const candidates = valuesMapping[key];
                    let item = {name: '—'};

                    if (candidates !== null) {
                        item = candidates.find(x => x.id === this.$route.params['filters'][key]);
                    }

                    if (!item) {
                        continue;
                    }

                    this.filters[key] = {
                        id: this.$route.params['filters'][key],
                        name: item.name,
                        visibleName: item.visibleName
                    };

                    this.externalFiltersApplied = true;
                }

                if ((this.$route.params['flatFilters'] || {}).hasOwnProperty('includeNestedZones')) {
                    this.$route.params['flatFilters']['excludeNestedZones'] = !this.$route.params['flatFilters']['includeNestedZones'];
                    delete this.$route.params['flatFilters']['includeNestedZones'];
                }

                for (let key of Object.keys(this.$route.params['flatFilters'] || {})) {
                    if (!this.flatFilters.hasOwnProperty(key)) {
                        continue;
                    }

                    this.flatFilters[key] = this.$route.params['flatFilters'][key];

                    this.externalFiltersApplied = true;
                }
            },
            applyExternalDateFilters() {
                if (!this.$route.params['dateFilters']) {
                    return;
                }

                for (let key of Object.keys(this.$route.params['dateFilters'])) {
                    if (!this.dateFilters[key]) {
                        continue;
                    }

                    this.dateFilters[key].enabled = true;
                    this.dateFilters[key].startDate = this.$route.params['dateFilters'][key]['startDate'];
                    this.dateFilters[key].endDate = this.$route.params['dateFilters'][key]['endDate'];

                    this.externalFiltersApplied = true;
                }
            },
            getAdministrativePanelLink(request) {
                return `${process.env.VUE_APP_API_BASE_URL.replace('/api', '/admin')}/core/bid/?id=${request.id}`;
            },
            getRowClass(item, type) {
                if (!item || type !== 'row') {
                    return;
                }

                if (this.uiConfig.highlighting.expired && item.isExpired) {
                    return 'table-danger';
                }

                if (this.uiConfig.highlighting.workTookTooLong && item.workTookTooLong) {
                    return 'table-warning';
                }

                if (this.uiConfig.highlighting.repeatedVisits && item.acts.length > 1) {
                    return 'table-primary';
                }
            },
            durationToString(duration) {
                return getReadableDuration(duration);
            },
            async overwriteSavedFilters() {
                this.paginationManager.page = 1;
                await this.onPaginationManagerChanged(true);

                await this.onFiltersChanged(true);
                await this.onDateFiltersChanged(true);
                await this.onFlatFiltersChanged(true);
            },
            async restoreSavedFilters() {
                if (this.user.uiConfig.requests.filters && Object.keys(this.user.uiConfig.requests.filters).length > 0) {
                    this.filters = this.user.uiConfig.requests.filters;
                } else {
                    await this.onFiltersChanged(true);
                }

                if (this.user.uiConfig.requests.dateFilters && Object.keys(this.user.uiConfig.requests.dateFilters).length > 0) {
                    this.dateFilters = this.parseSavedDateFilters();
                } else {
                    await this.onDateFiltersChanged(true);
                }

                if (this.user.uiConfig.requests.flatFilters && Object.keys(this.user.uiConfig.requests.flatFilters).length > 0) {
                    this.flatFilters = this.user.uiConfig.requests.flatFilters;
                } else {
                    await this.onFlatFiltersChanged(true);
                }
            },
            clearMultipleFilter(filter) {
                switch(filter) {
                    case 'requestStatusTypes': this.filters.status = [];
                        break;
                    case 'jobTypes': this.filters.jobType = [];
                        break;
                    case 'engineers': this.filters.engineer = [];
                        break;
                    case 'cities': this.filters.city = [];
                        break;
                    case 'device': this.filters.device = [];
                        break;
                    case 'priorityTypes': this.filters.priority = [];
                        break;
                    case 'companies': this.filters.company = [];
                        break;
                    case 'company': this.filters.company = [];
                        break;
                    case 'logisticians': this.filters.logistician = [];
                        break;
                    case 'salePoints': this.filters.salePoint = [];
                        break;
                    case 'clientPriorityTypes': this.filters.clientPriority = [];
                        break;
                    case 'regions': this.filters.region = [];
                        break;
                    case 'requestLockStates': this.filters.lockState = [];
                        break;
                    case 'lockState': this.filters.lockState = [];
                        break;
                    case 'brands': this.filters.brand = [];
                        break;
                    case 'brand': this.filters.brand = [];
                        break;
                    default: return;
                }
            },
            async onPaginationManagerChanged(force = false) {
                if (!this.loaded && !force) {
                    return;
                }

                const mapping = {
                    itemsPerPage: 'perPage',
                    currentPage: 'page',
                    sortBy: 'sortBy',
                    sortDesc: 'sortDesc'
                }

                let settingsChanged = false;
                for (const key of Object.keys(mapping)) {
                    if (this.user.uiConfig.requests.pagination[key] !== this.paginationManager[mapping[key]]) {
                        this.user.uiConfig.requests.pagination[key] = this.paginationManager[mapping[key]];
                        settingsChanged = true;
                    }
                }

                if (!settingsChanged) {
                    return;
                }
                await this.$api.users.update(this.user.id, {
                    ui_config: this.user.uiConfig
                });
            },
            async onFiltersChanged(force = false) {
                if (!this.loaded && !force) {
                    return;
                }

                const exportedFilters = {};
                for (const key of Object.keys(this.filters)) {
                    if (key === 'logistician') {
                        exportedFilters[key] = {
                            id: this.filters[key].id,
                            visibleName: this.filters[key].visibleName
                        };
                    } else {
                            exportedFilters[key] = {
                                id: this.filters[key].id,
                                name: this.filters[key].name
                        };
                    }
                }

                this.user.uiConfig.requests.filters = exportedFilters;
                this.user.uiConfig.requests.filters.status = this.filters.status;
                this.user.uiConfig.requests.filters.engineer = this.filters.engineer;
                this.user.uiConfig.requests.filters.jobType = this.filters.jobType;
                await this.$api.users.update(this.user.id, {
                    ui_config: this.user.uiConfig
                });
            },
            async onDateFiltersChanged(force = false) {
                if (!this.loaded && !force) {
                    return;
                }

                for (const key of Object.keys(this.dateFilters)) {
                    const valuesMissing = !this.dateFilters[key].startDate || !this.dateFilters[key].endDate;
                    if (this.dateFilters[key].enabled && valuesMissing) {
                        // Если хоть один фильтр не полностью готов, то пропускаем обновление
                        return;
                    }
                }

                this.user.uiConfig.requests.dateFilters = this.dateFilters;
                await this.$api.users.update(this.user.id, {
                    ui_config: this.user.uiConfig
                });
            },
            async onFlatFiltersChanged(force = false) {
                if (!this.loaded && !force) {
                    return;
                }

                this.user.uiConfig.requests.flatFilters = this.flatFilters;
                await this.$api.users.update(this.user.id, {
                    ui_config: this.user.uiConfig
                });
            },
            onWindowResize() {
                try {
                    const navBarEl = document.getElementsByClassName('navbar')[0];
                    const tableControlsEl = document.getElementById('table-controls');
                    const tvHeaderEl = document.getElementById('tv-header');

                    const navBarHeight = navBarEl ? navBarEl.offsetHeight : 0;
                    const tableControlHeight = tableControlsEl ? tableControlsEl.offsetHeight : 0;
                    const tvHeaderHeight = tvHeaderEl ? tvHeaderEl.offsetHeight : 0;

                    const offset = navBarHeight + tableControlHeight + tvHeaderHeight + 30;
                    this.tableStickyHeight = window.innerHeight - offset;
                } catch {
                    this.tableStickyHeight = 0;
                }
            },
            onKeyDown(e) {
                if (e.target !== document.body && !['BUTTON', 'A'].includes(e.target.tagName)) {
                    return;
                }

                if (e.ctrlKey || e.altKey || e.shiftKey) {
                    return;
                }

                switch (e.code) {
                    case 'Slash': {
                        e.preventDefault();
                        document.getElementById('search-input').focus();

                        return;
                    }

                    case 'KeyI': {
                        e.preventDefault();

                        document.getElementById('search-input').focus();
                        this.flatFilters.searchQuery = '#';

                        return;
                    }

                    case 'KeyF': {
                        e.preventDefault();
                        this.$bvModal.show('modal-filters');

                        return;
                    }

                    case 'KeyR': {
                        e.preventDefault();
                        this.resetFilters();

                        return;
                    }

                    case 'KeyW': {
                        e.preventDefault();
                        this.toggleActiveOnly();

                        return;
                    }

                    case 'KeyT': {
                        e.preventDefault();
                        this.showUiOptions();

                        return;
                    }

                    case 'KeyS': {
                        e.preventDefault();
                        this.paginationManager.sortDesc = !this.paginationManager.sortDesc;

                        return;
                    }

                    case 'KeyN': {
                        if (!this.permissions.canCreate) {
                            return;
                        }

                        e.preventDefault();
                        this.$router.push({name: 'request-new'});
                        return;
                    }

                    case 'Comma': {
                        if (this.paginationManager.page === 1) {
                            return;
                        }

                        e.preventDefault();
                        this.paginationManager.page--;

                        return;
                    }

                    case 'Period': {
                        if (this.paginationManager.page === this.paginationManager.pageCount) {
                            return;
                        }

                        e.preventDefault();
                        this.paginationManager.page++;

                        return;
                    }

                    case 'BracketLeft': {
                        e.preventDefault();
                        this.paginationManager.page = 1;

                        return;
                    }

                    case 'BracketRight': {
                        e.preventDefault();
                        this.paginationManager.page = this.paginationManager.pageCount;

                        return;
                    }

                    case 'KeyH': {
                        e.preventDefault();
                        this.$bvModal.show('modal-shortcuts');

                        return;
                    }
                }
            },
            parseSavedDateFilters() {
                const dateFilters = this.user.uiConfig.requests.dateFilters;
                for (const key of Object.keys(dateFilters)) {
                    if (dateFilters[key].enabled) {
                        dateFilters[key].startDate = moment(dateFilters[key].startDate);
                        dateFilters[key].endDate = moment(dateFilters[key].endDate);
                    } else {
                        dateFilters[key].startDate = undefined;
                        dateFilters[key].endDate = undefined;
                    }
                }

                return dateFilters;
            },
            handleAnnouncementButtonClick(data) {
                if (data.button.type === 'modal') {
                    this.$bvModal.show(data.button.target);
                }
            },
            async exportToEmail(email) {
                try {
                    await this.$api.requests.exportToEmail(
                        email,
                        await this.getQueryWithFilters(),
                        this.getEffectiveSortBy(),
                        this.paginationManager.sortDesc
                    );

                    this.$bvToast.toast('Ожидайте письма с файлом экспорта', {
                        title: 'Успех',
                        autoHideDelay: 5000,
                        appendToast: true,
                        variant: 'success'
                    });
                } catch (e) {
                    this.$bvToast.toast(`Не удалось экспортировать данные: ${e}`, {
                        title: 'Ошибка',
                        autoHideDelay: 5000,
                        appendToast: true,
                        variant: 'danger'
                    });
                }

                this.emailExportHideTrigger = !this.emailExportHideTrigger;
            },
            async exportActsToEmail(email) {
                try {
                    await this.$api.requests.exportActsToEmail(
                        email,
                        await this.getQueryWithFilters(),
                        this.getEffectiveSortBy(),
                        this.paginationManager.sortDesc
                    );

                    this.$bvToast.toast('Ожидайте письма с файлом экспорта', {
                        title: 'Успех',
                        autoHideDelay: 5000,
                        appendToast: true,
                        variant: 'success'
                    });
                } catch (e) {
                    this.$bvToast.toast(`Не удалось экспортировать данные: ${e}`, {
                        title: 'Ошибка',
                        autoHideDelay: 5000,
                        appendToast: true,
                        variant: 'danger'
                    });
                }

                this.emailActsExportHideTrigger = !this.emailActsExportHideTrigger;
            },
            async getQueryWithFilters() {
                let query = {
                    sale_points__company__id: this.filters.company ? this.filters.company.id : null,
                    sale_points__id: this.filters.salePoint ? this.filters.salePoint.id : null,
                    sale_points__brand__id: this.filters.brand ? this.filters.brand.id : null,
                    devices__id: this.filters.device ? this.filters.device.id : null,
                    status__in: getMultipleFilterChoice(this.filters.status) || null,
                    job_type__in: getMultipleFilterChoice(this.filters.jobType) || null,
                    priority: this.filters.priority ? this.filters.priority.id : null,
                    priority_client: this.filters.clientPriority ? this.filters.clientPriority.id : null,
                    external_lock: this.filters.lockState ? this.filters.lockState.id : null,
                    engineers__id__in: getMultipleFilterChoice(this.filters.engineer) || null,
                    logistician: this.filters.logistician ? this.filters.logistician.id : null,
                    sale_points__city: this.filters.city ? this.filters.city.id : null,
                    sale_points__city__region: this.filters.region ? this.filters.region.id : null ,
                    zone: this.flatFilters.zone || null,
                    created_date__range: this.getDateFilterValue('createdAt'),
                    plan_start_date__range: this.getDateFilterValue('plannedStartAt'),
                    action__start_date__range: this.getDateFilterValue('startedAt'),
                    action__finish_date__range: this.getDateFilterValue('finishedAt'),
                    search: this.flatFilters.searchQuery || null,
                    active_only: this.flatFilters.activeOnly || null,
                    expired_only: this.flatFilters.expiredOnly,
                    work_took_too_long_only: this.flatFilters.workTookTooLongOnly,
                    exclude_first_shot: this.flatFilters.repeatedVisitsOnly,
                    only_with_acts: this.flatFilters.withActsOnly,
                    only_without_acts: this.flatFilters.withoutActsOnly,
                    only_with_comments: this.flatFilters.withCommentsOnly,
                    include_nested_zones: !this.flatFilters.excludeNestedZones
                };

                if (this.flatFilters.externalServiceUnsentOnly) {
                    query['external_sent_at__isnull'] = true;
                    query['external_closed'] = false;
                } else if (this.flatFilters.externalServiceClosedOnly) {
                    query['external_sent_at__isnull'] = false;
                    query['external_closed'] = true;
                } else if (this.flatFilters.externalServicePendingOnly) {
                    query['external_sent_at__isnull'] = false;
                    query['external_closed'] = false;
                }

                if (query['engineers__id'] === 'null') {
                    delete query['engineers__id'];
                    query['engineers__count'] = 0;
                }

                if (query['logistician'] === 'null') {
                    delete query['logistician'];
                    query['logistician__isnull'] = true;
                }

                if (this.flatFilters.searchQuery) {
                    const matches = this.flatFilters.searchQuery.match(/^#([0-9]+)/);
                    if (matches) {
                        this.flatFilters.searchById = true;
                        query = {id: Number(matches[1])}
                    } else {
                        this.flatFilters.searchById = false;
                    }
                } else {
                    this.flatFilters.searchById = false;
                }
                for(const [key, value] of Object.entries(query)) {
                    if(value === undefined || value === null)
                        delete query[key];
                }
                return query;
            },
            getEffectiveSortBy() {
                const mapping = {
                    name: 'target_text',
                    jobType: 'job_type',
                    clientPriority: 'priority_client',
                    dateCreated: 'created_date',
                    datePlannedStart: 'plan_start_date',
                    dateActualStart: 'start_date',
                    dateActualFinish: 'close_date',
                    salePoint: 'sale_points__name_text',
                    company: 'sale_points__company__name_text',
                    externalId: 'external_id',
                    city: 'devices__object_company__city__name_text',
                    region: 'devices__object_company__city__region__name_text',
                    workDuration: 'time_of_work',
                    reactionTime: 'time_reaction',
                    overdueTime: 'expired_time'
                };

                return mapping[this.paginationManager.sortBy] || this.paginationManager.sortBy;
            },
            async toggleIncognitoMode() {
                this.flatFilters.searchQuery = ''
                await Vue.nextTick();

                this.user.uiConfig['incognitoMode'] = !this.user.uiConfig['incognitoMode'];

                await this.$api.users.update(this.user.id, {
                    ui_config: this.user.uiConfig
                });

                document.location.reload();
            },
            async setLockState(state) {
                try {
                    const update = await this.$api.requests.setLockState(this.selectedRequest.id, state.value);
                    this.selectedRequest.lockState = update.lockState;
                    this.selectedRequest.lockOwner = update.lockOwner;
                    this.selectedRequest.enabledLockStates = update.enabledLockStates;

                    this.$bvToast.toast('Блокировка успешно обновлена', {
                        title: 'Успех',
                        autoHideDelay: 3000,
                        appendToast: true,
                        variant: 'success'
                    });
                } catch (e) {
                    let error = undefined;
                    if (e.response && e.response.data) {
                        error = e.response.data['errors'].join(', ');
                    } else {
                        error = getFirstError(e) || `Не удалось выполнить запрос: ${e}`;
                    }

                    this.$bvToast.toast(error, {
                        title: 'Ошибка',
                        autoHideDelay: 3000,
                        appendToast: true,
                        variant: 'danger'
                    });
                }
            },
            getLockIconDescription(request) {
                const description = {
                    new: 'Заявка не внесена в 1С',
                    processing: 'Заявка в обработке в 1С',
                    finalized: 'Заявка внесена в 1С'
                }[request.lockState];

                if (request.lockOwner) {
                    return `${description} (${request.lockOwner})`;
                }

                return description;
            }
        },
        computed: {
            user() {
                return this.$store.getters[CURRENT_USER];
            },
            tableFields() {
                return this.uiConfig.columns.filter(x => x.visible && !x.disabled).map(x => ({
                    key: x.id,
                    label: x.name,
                    sortable: x.sortable === undefined ? true : x.sortable
                }))
            },
            anyFilterApplied() {
                const anyGeneralFilter = Object.keys(this.filters).some(x => {
                    const isStatusFilterActivated = Array.isArray(this.filters.status) && this.filters.status.length;
                    const isJobTypeFilterActivated = Array.isArray(this.filters.jobType) && this.filters.jobType.length;
                    const isEngineerFilterActivated = Array.isArray(this.filters.engineer) && this.filters.engineer.length;
                    const isMultipleFiltersActivated = isStatusFilterActivated || isJobTypeFilterActivated || isEngineerFilterActivated;
                    return !!this.filters[x].id !== false || isMultipleFiltersActivated;
                });
                const anyFlatFilter = Object.keys(this.flatFilters).some(x => this.flatFilters[x]);
                const anyDateFilter = Object.keys(this.dateFilters).some(x => this.dateFilters[x].enabled);

                return anyGeneralFilter || anyFlatFilter || anyDateFilter;
            },
            anyColumnIsVisible() {
                return this.uiConfig.columns.some(x => x.visible);
            },
            isMobileBrowser() {
                return isMobileBrowser();
            }
        }
    }
</script>

<style scoped lang="scss">
    .handle {
        cursor: move;
        align-self: center;
        padding: 15px;
        margin: -10px;
    }

    #settings-btn {
        color: mediumpurple;
        border-color: mediumpurple;
    }

    #settings-btn:hover {
        color: white;
        border-color: #6C757D;
    }

    .inactive {
        opacity: 0.3;
    }
</style>
